.THIS .slds-form-element__control {
display: grid !important;
grid-template-columns: 1fr 1fr !important;
}

.THIS.slds-modal__container {
    display: block;
    margin: 0;
    padding: 0;
    width:100%;
    max-width:100%;
    min-width:100%;
}